{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    {% if result!=0  %}
        <div class="alert alert-success ml-4 col-10" role="alert">
            <h4 class="alert-heading">Sales Prediction</h4>
            <p>{{ result }} per Month</p>
        </div>
    {% else %}
        <div class="alert alert-warning ml-4 col-10" role="alert">
            <h4 class="alert-heading">Sales Prediction</h4>
            <p>{{ result }} per Month</p>
        </div>
    {% endif %}
{% endblock %}